body {
    margin: auto 0;
    font-family: Arial;
}


.zone {
    cursor:pointer;
    /* display:inline-block; */
    text-align: center;
    font-size:2em;
    /* border-radius:4px; */
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* nav */
.nav {
    cursor:pointer;
    text-align: center;
    font-size:2em;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #070707;
    text-decoration: none;
}


/* COVER STYLE */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.small-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.cover {
    width: 15rem;
}

.card-main{
    background: -webkit-linear-gradient(110deg, #4C67F9 60%, #F4C761 60%);
    background: linear-gradient(110deg, #4C67F9 60%, #F4C761 60%);
}

/* PROJECT GRID */
.grid-wrapper {
    padding: 100px 80px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-wrapper-sub {
    padding: 100px 80px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.left{
    margin-left: auto;
    padding: 50px;
}

.right {
    margin-right: auto;
    padding: 50px;
}

.btn {
    background-color: #4C67F9;
    color: black;
    border-radius: 40px;
    font-size: 1rem;
    padding: 20px;
    border-width: 0px;
}

.btn:hover {
    cursor: pointer;
    background-color: blanchedalmond;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.start{
    float: right;
}

.box > img {
    width:40%;
}

.box {
    padding: 40px 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.features {
    font-size: 40%;
    font-weight: bold;
}

.feature-desc{
    font-size: 20%;
}
footer {
    text-align: center;
}

.main-color{
    background: #4C67F9;
}

.secondary {
    background: #F4C761;
}
.white {
    background:  #ffffff;
}